*{
    margin: 0;
    padding:0;
}
.contaniner{
    margin: 90px;

    width: 400px;
    height: 300px;
    border: 1px solid black;
}
.header{
    background-color: rgba(157, 189, 197, 0.63);
    font-size: 30px;
    margin: 0;
    padding: 17px;
    text-align: center;
    


   
}
.btn{
    background-color: darkmagenta;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    transition: .8s;
}
 .btn:hover{
            background-color: white;
            color: darkmagenta;
            text-align: center;
            
        }

.body{
    padding: 0 5px;
}
.text{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    text-align: left;
    color: rgb(218, 8, 123);
}
.buttons{
    padding: 16px;
}